@model StudentViewModel

<div class="border shadow row">

    <div class="text-center">
        <h1 class="display-5">Edit Student Record</h1>
    </div>     

    <div class="col-6">

    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" enctype="multipart/form-data">

        <input asp-for="Student.Id" hidden/>

        <div class="form-floating py-2">
            <input asp-for="Student.Name" type="text" class="form-control" />
            <label asp-for="Student.Name" class="form-label"></label>
            <span asp-validation-for="Student.Name" class="text-danger"></span>

        </div>
        <div class="form-floating py-2">
            <input asp-for="Student.Surname" type="text" class="form-control" />
            <label asp-for="Student.Surname" class="form-label"></label>
            <span asp-validation-for="Student.Surname" class="text-danger"></span>
        </div>
        <div class="form-floating py-2">
            <input asp-for="Student.StudentNumber" type="number" class="form-control" />
            <label asp-for="Student.StudentNumber" class="form-label"></label>
            <span asp-validation-for="Student.StudentNumber" class="text-danger"></span>
        </div>
        <div class="form-floating py-2">
            <input asp-for="Student.Age" type="number" class="form-control" />
            <label asp-for="Student.Age" class="form-label"></label>
            <span asp-validation-for="Student.Age" class="text-danger"></span>
        </div>
        <div class="py-2">
            <label asp-for="Student.DepartmentId" class="form-label"></label>
                <select asp-for="Student.DepartmentId" asp-items="@Model.DepartmentList" class="form-select">

                </select>           
            <span asp-validation-for="Student.DepartmentId" class="text-danger"></span>
        </div>
        <div class="py-2">
            <input asp-for="Student.ImageUrl" hidden />
            <label class="form-label">Select a Picture</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <div class="py-2">
            <button type="submit" class="btn btn-primary form-control">Update</button>
        </div>
    </form>

    </div>
    <div class="col-6">
        <img src="@Model.Student.ImageUrl" tag="Student picture"/>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}